@charset "UTF-8";

@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

header .header {
	background-color: rgb(247, 247, 248);
	height: 450px;
}

.form {
	position: relative;
	z-index: 1;
	background: rgb(247, 247, 248);
	max-width: 60%;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
		 border-radius:  30px 30px 30px 30px;
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: rgb(173, 169, 169); 
	width: 36%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	 border-radius:  30px 30px 30px 30px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background-color: rgb(247, 247, 248);
	background-image: linear-gradient(45deg, #328f8a, #08ac4b);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

body {
	background-color: rgb(222, 222, 247);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card-group {
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card-group>:nth-child(2n) {
	margin-left: 20px;
}

.card-group>:nth-child(n+3) {
	margin-top: 20px;
}

.card {
	width: calc(( 100% - 20px * 1)/2);
	height: auto;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
}

.card__imgframe {
	width: 100%;
	height: auto;
	padding-top: 8%;
	background: black;
	box-sizing: border-box;
}

.card__textbox {
	width: 100%;
	height: auto;
	padding: 20px 18px;
	background: #fff;
	box-sizing: border-box;
}

.card__textbox>*+* {
	margin-top: 10px;
}

.card__titletext {
	font-size: 20px;
	font-weight: bold;
	line-height: 125%;
}

.card__overviewtext {
	font-size: 12px;
	line-height: 150%;
}



/*ヘッダー*/
.header-4 {
  box-sizing: border-box;
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.logo img {
  width: 70px;
}

.header-avatar {
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 50%;
}

.form2 {
  position: relative;
}

.form2-input {
  box-sizing: border-box;
  width: 140px;
  height: 28px;
  padding: 0 8px 0 30px;
  margin: 5px 0;
  font-size: 12px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.form2-input:focus {
  border: 1px solid #00b5ad;
}

.form2-button {
  position: absolute;
  top: 0;
  left: 2px;
  box-sizing: content-box;
  width: 30px;
  height: 38px;
  padding: 0;
  font-size: 16px;
  vertical-align: vertical-align;
  pointer-events: none;
  background: inherit;
  border: 0;
  opacity: 0.54;
}